//card
$bgrColr: #000000;
$cardBgr: #e9f8ff;
$whiteTxt: #ffff;
$secColr: #ecebeb;
$labels: #141414;
$secBgr: #b4b4b4;
$hover: #4a88ff;
$secGrn: #d6f0b5;
$loghover: #b7d307;
$btnpost: #f0d02c;
$cancel: #f02c2c;
