@use "./colors" as *;
@use "./varibles" as *;
@use "sass:math";
@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}
@mixin glowing-border(
  $glow-color: $glow-color,
  $glow-intensity: $glow-intensity,
  $animation-duration: $animation-duration
) {
  @keyframes glow {
    0% {
      text-shadow: 0 0 $glow-intensity $glow-color;
    }
    50% {
      text-shadow: 0 0 ($glow-intensity * 2);
    }
    100% {
      text-shadow: 0 0 $glow-intensity $glow-color;
    }
  }

  & {
    animation: glow $animation-duration infinite alternate;
  }
}
@mixin cards {
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  border: 1px solid $secBgr;
  border-radius: rem(20px);
  display: flex;
  flex-direction: column;
  background-color: $cardBgr;
  margin: rem(48px) rem(16px) rem(48px) rem(16px);

  padding: rem(24px) rem(48px) rem(24px) rem(48px);
}

@mixin inputFld {
  border-radius: rem(4px);
  background-color: $secColr;
  height: rem(36px);
  color: $secBgr;
  margin-top: rem(4px);
  margin-bottom: rem(12px);
  border: 1px solid $secBgr;
  width: 100%;
  text-indent: rem(16px);
}
@mixin labels {
  color: $labels;
}
@mixin containerBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@mixin signupBtn {
  height: rem(28px);

  margin-top: rem(10px);
  padding: rem(16px);
  border-radius: rem(20px);
  border: 1px solid $secBgr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $hover;
  }
}

@mixin sectionHeader {
  font-size: 1rem;
}
@mixin postBtn {
  border-radius: 50%;
  width: 3.8rem;
  height: 3.8rem;
  align-self: flex-end;
  background-color: $secGrn;
  border: 1px solid $secBgr;
  &:hover {
    border: 2px solid $secBgr;
    box-shadow: 1px 3px 3px $secBgr;
  }
}

@mixin list-style {
  display: flex;
  flex-direction: column;

  &__ul {
    list-style: none;
  }
  &__list {
    margin-bottom: 1rem;
    box-shadow: 0px 5px 5px 0px rgba(19, 24, 44, 0.1);
    background-color: white;
  }
  &__img {
    width: 100%;
    border-radius: 4px;
    &:hover {
      border: 1px solid red;
    }
  }
  &__subtitle {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    border-top: 1px solid $secBgr;
  }
  &__link {
    text-decoration: none;
  }
}
