@use "./colors" as *;
@use "./varibles" as *;
@use "sass:math";
@function rem($size) {
  @return math.div($size, 16px) * 1rem;
}

@font-face {
  font-family: roboto medium;
  src: url(../assets/fonts/Roboto_Mono/static/RobotoMono-Medium.ttf),
    format(ttf);
}
@mixin font {
  font-family: roboto medium;
}
@mixin glowing-border(
  $glow-color: $glow-color,
  $glow-intensity: $glow-intensity,
  $animation-duration: $animation-duration
) {
  @keyframes glow {
    0% {
      text-shadow: 0 0 $glow-intensity $glow-color;
    }
    50% {
      text-shadow: 0 0 ($glow-intensity * 2);
    }
    100% {
      text-shadow: 0 0 $glow-intensity $glow-color;
    }
  }

  & {
    animation: glow $animation-duration infinite alternate;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-breakpoint}) and (max-width: #{$below-desktop-breakpoint}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-breakpoint}) {
    @content;
  }
}
@mixin cards {
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1);
  border: 1px solid $secBgr;
  border-radius: rem(8px);
  display: flex;
  flex-direction: column;
  background-color: $cardBgr;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: rem(16px);
  margin-right: rem(16px);
  padding: rem(16px) rem(32px) rem(16px) rem(32px);
}

@mixin inputFld {
  border-radius: rem(4px);
  background-color: $secColr;
  height: rem(36px);
  color: $secBgr;
  margin-top: rem(4px);
  margin-bottom: rem(12px);
  border: 1px solid $secBgr;
  width: 100%;
  text-indent: rem(16px);
}
@mixin labels {
  color: $labels;
}
@mixin containerBtn {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
@mixin signupBtn {
  height: rem(28px);

  margin-top: rem(10px);
  padding: rem(16px);
  border-radius: rem(20px);
  border: 1px solid $secBgr;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $hover;
  }
}

@mixin sectionHeader {
  font-size: 1rem;
}
@mixin postBtn {
  border-radius: 4px;
  width: 3.8rem;
  align-self: flex-end;
  background-image: url("../../assets/icons/icons8-add-48.png");
  height: 48px;
  border: none;
  background-color: $cardBgr;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    border: 2px solid $secBgr;
    box-shadow: 1px 3px 3px $secBgr;
  }
}
@mixin postBtnForms {
  height: 24px;
  &:hover {
    background-color: $loghover;
  }
  width: 7rem;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid $secBgr;
  &--cancel {
    background-color: $secColr;
    &:hover {
      border: 1px solid red;
      background-color: $secColr;
    }
  }
}
@mixin clickBack {
  background-color: $loghover;
  border-radius: 50%;
  width: 50px;
}
@mixin list-style {
  display: flex;
  flex-direction: column;

  &__ul {
    list-style: none;
  }
  &__list {
    margin-bottom: 1rem;
    box-shadow: 0px 5px 5px 0px rgba(19, 24, 44, 0.1);
    background-color: white;
  }
  &__img {
    display: flex;
    width: 100%;
    border-radius: 4px;
  }
  &__subtitle {
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    color: $textColr;
    text-align: center;
    &--location {
      border-style: none;
    }
  }
  &__link {
    text-decoration: none;
  }

  @include tablet {
    margin-top: 2rem;
    margin-bottom: 3rem;
    &__ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    &__list {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &__link {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 15rem;
    }
    &__subtitle {
      &--location {
        margin-top: auto;
      }
    }
    &__img {
      height: 10rem;
    }
  }
}
