@use "../../parcials/mixin" as *;
@use "../../parcials/colors" as *;

.articles-news {
  @include cards();

  &__postBtn {
    width: 3rem;
    position: relative;
    border-radius: 8px;
    border: 1px solid;
    background-color: $secGrn;
  }
  &__title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}
