@use "../../parcials/mixin" as *;
@use "../../parcials/colors" as *;

.classes {
  @include cards();
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__title {
    align-self: center;
  }
}
