@use "../../parcials/mixin" as *;
@use "../../parcials/colors" as *;

.events {
  @include cards();
  @include tablet {
  }

  &__title {
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}
