@use "../../parcials/mixin" as *;
@use "../../parcials/colors" as *;
.home {
  display: flex;
  flex-direction: column;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  &__link {
    text-decoration: none;
  }
  &__loginBtn {
    align-self: center;
    width: 5rem;
    @include signupBtn();
    &:hover {
      background-color: $loghover;
    }
  }
}
