@use "../../parcials/mixin" as *;
@use "../../parcials/colors" as *;
.home {
  display: flex;
  flex-direction: column;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @include tablet {
    align-items: center;
  }
  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;

    @include tablet {
    }
  }
  &__subtitle {
    align-self: center;
    color: $whiteTxt;
  }
  &__title {
    color: $whiteTxt;
    font-size: 1.7rem;
  }
  &__bio {
    color: $whiteTxt;
    padding-top: 1rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      margin-top: 8em;
      margin-bottom: 8em;
    }
  }
  &__loginBtn {
    align-self: center;
    width: 5rem;
    margin-bottom: 1rem;
    @include signupBtn();
    &:hover {
      background-color: $loghover;
    }
  }

  &__image {
    display: flex;

    height: 6rem;
    border-radius: 4px;
    @include cards();
    @include tablet {
      height: 4rem;
    }
  }
}

// margin: 1rem 1rem 1rem 1rem;
