@use "../../parcials/mixin" as *;
@use "../../parcials/colors" as *;

.classesList {
  display: flex;
  flex-direction: column;
  &__container {
    list-style: none;
  }
  &__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &__images {
    width: 100%;
    border-radius: 4px;
    &:hover {
      border: 1px solid red;
    }
  }
  &__title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  &__link {
    text-decoration: none;
  }
}
